<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<DIV class="wrap" id="header"><IMG src="../images/logo.gif"></DIV>
<DIV class="wrap" id="navbar">
    <DIV class="profile">您好,
        <span id="yhm" th:text="${session.loginUser==null?'请登录':session.loginUser.username}">请登录</span>
    </DIV>
    <DIV class="search">
        <FORM action="Subject-search.action" method="post"><INPUT name="keywords" class="input-text" type="text"><INPUT
                name="submit" class="input-button" type="submit" value=""/>
        </FORM>
    </DIV>
</DIV>
<DIV class="box" id="voteManage">
    <H2>添加新投票</H2>
    <DIV class="content">
        <FORM method="post">
            <DL>
                <DT>投票内容：</DT>
                <DD>
                    <INPUT name="name" type="hidden" value="token">
                    <INPUT name="token" type="hidden" value="B1XPKLEQ7DQ6DNVWKBARPOY4HLYYXDE6">
                    <INPUT name="title" class="input-text" id="title" type="text">
                </DD>
                <DT>投票类型：</DT>
                <DD>
                    <INPUT name="type" type="radio" value="giao" checked>单选
                    <INPUT name="type" type="radio" value="giou">多选
                </DD>
                <DT>投票选项：</DT>
                <DD id="voteoptions">
                    <P><INPUT name="options" class="input-text" type="text"></P>
                    <P><INPUT name="options" class="input-text" type="text"></P></DD>
                <DT><a onclick="DelOption()" href="javascript:void(0)" style="position: relative;left: 430px;top: -40px">删除</a></DT>
                <DD class="button">
                    <a onclick="Submit()" href="javascript:void(0);"><img src="../images/button_submit.gif"></a>
                    <A onclick="AddOption()" href="javascript:void(0);">增加选项</A>
                    <A href="/for/votelist">取消操作</A>
                </DD>
            </DL>
        </FORM>
    </DIV>
</DIV>
<DIV class="wrap" id="footer"> 北大青鸟 © 版权所有</DIV>
</body>
<script th:inline="javascript" type="text/javascript">
    var user = $("#yhm").text();
    if (user=="请登录"||user=="") {
       location.href="../login.html";
    }
    function AddOption(){
        $("#voteoptions").append('<P><INPUT name="options" class="input-text" type="text"></P>');
    }
    function DelOption() {
        if ($("#voteoptions p").length <= 2) {
            alert("最少填写两个选项哦~");
        } else {
            $("#voteoptions p:last-of-type").remove();
        }
    }
    function Submit(){
        var title=$("#title").val();
        var type=$("[name=type]:checked").val();
        var ops="";
        var op=true;
        if(title==""){
            alert("标题不能为空！");
            return;
        }
        $("[name=options]").each(function(i,e){
           if($(this).val()==""){
               op=false;
           }
        });
        if(!op){
            alert("请填写完整的选项！");
            return;
        }else{
            $("[name=options]").each(function(i,e){
                if(ops!=""){
                    ops+=",";
                }
                ops+=$(this).val();
            });
        }
        var v=0;
        $("[name=options]").each(function(i,e){
            $("[name=options]").each(function(i2,e2){
                if($(e).val()==$(e2).val()){
                    v++;
                }
            });
        });
        if(v>$("[name=options]").length){
            alert("选项不能相同啊，操");
        }else{
            $.post("/vote/add",{title:title,type:type,ops:ops},function(rs){
                alert(rs.mess);
                location.href=rs.url;
            },"json");
        }
    }
</script>
</html>